.btn-primary {
    background-color: #591811 !important;
    border-color: #591811 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #efbb04 !important;
    border-color: #efbb04 !important;
}


